<footer>
    <div class = "container">
       <h3 class="text-center"> Disclaimer<br></h3>
       <h3> Court Locator, LLC attempts to ensure that the information provided is accurate and up-to-date. <br>
        Court Locator, LLC makes no warranty or guarantee concerning the accuracy or reliability of the content. <br>
        Assessing accuracy and reliability of information is the responsibility of the user. <br>
        Court Locator, LLC shall not be liable for errors contained herein or for any damages in connection with the use of the information received. <br></h3>
       <h3 class = "text-center"> © 2019 Court Locator, LLC &nbsp;&nbsp;	<a href="Privacy.html">Privacy</a>	 <a href="Termsofuse.html">Terms</a>  </h3>     
       </div>
</footer>
    </body>
</html> 