<!DOCTYPE html>
<html>
        <head>
                <title>Court Locator</title>
                <link rel="icon" href="colorado_courts_logo1.ico" type="image/x-icon">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="/stylesheets/landing.css">
                <link rel="stylesheet" href="/stylesheets/main.css">
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
               
        </head>
    <body>
    <nav class="navbar landing-header" style ="opacity: 1;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a  href="/"><img src="final02.png"  alt="Tag Process Service, Inc." id="logo" width="160px" height="38px" style ="margin-top: 0.8rem;margin-bottom: 0.8rem"></a>    
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style = "padding :1rem; ">
                    <% if(!currentUser){ %>
                       <!--  <li><a href="/admin"  style ="color:black;"><i class="fa fa-unlock fa-2"></i>&nbsp;Admin</a></li> -->
                        <a href="/login" style ="color:black;"><img src="login.png"/> &nbsp;LOGIN</a>
                        <!-- <li><a href="/register" style ="color:black;"><i class="fa fa-fw fa-user"></i>Sign Up</a></li> -->
                    <% } else { %>
                        
                        <li><a href="" style ="color:black;">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/logout" style ="color:black;">Logout</a></li>
                    <% } %>
                </ul>
                
            </div>
        </div>
    </nav>
    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success landing-header" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    